{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container wrapper flex-grow-1 text-left">
    <h1 class="my-4">{{ title }}</h1>
    <a href="{% url 'create_status' %}" class="text-left">
        {% bootstrap_button button_text size='md' button_class='btn-secondary' %}
    </a>
    <table class="table table-stripped text-light">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'Creation date' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'update_status' pk=status.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'delete_status' pk=status.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}